p.caption {
    color: #a88dce !important;
}

.wy-side-nav-search {
    background-color: #7122dc;
}

.wy-nav-top  {
    background-color: #7122dc;
}

h1, h2, a {
    color: #8c54d8;
}

a:hover {
    color: #a88dce;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    color: #8c54d8;
    background-color: #ede7f7;
    border-top: 3px solid #a88dce;
    width: 100%;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    border-left: 3px solid #d8d1e3;
}

.rst-content .viewcode-link {
    color: #a88dce;
}

.rst-content div[class^="highlight"] {
    border: 1px solid #d8d1e3;
    filter: drop-shadow(2px 4px 4px #d8d1e3);
}

.rst-content .guilabel {
    border: 1px solid #a88dce;
}

.rst-content code, code {
    border: 1px solid #d8d1e3;
    border-radius: 4px;
}

.textmono {
    color: #4d4959;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 75%;
}

.textmonoborder {
    color: #5e596c;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 70%;
    padding: 2px 4px 2px 4px;
    border: 1px solid #c9c6cc;
    border-radius: 4px;
    background-color: #ede7f7;
}

.colandertype {
    color: #8c54d8;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 75%;
    padding: 2px 4px 2px 0;
    border: 1px solid #a88dce;
    border-radius: 4px;
    background-color: #ede7f7;
}

.colandertype .prefix {
    color: #d8d1e3;
    padding: 2px 4px 2px 4px;
    margin-right: 4px;
    background-color: #8c54d8;
}

.othertype {
    color: #cf7f11;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 75%;
    padding: 2px 4px 2px 0;
    border: 1px solid #cf7f11;
    border-radius: 4px;
    background-color: #e3dbd1;
}

.othertype .prefix {
    color: #e3dbd1;
    padding: 2px 4px 2px 4px;
    margin-right: 4px;
    background-color: #cf7f11;
}
